<!DOCTYPE html><!-- Definicion de tipo de documento -->
<html lang="en"><!-- Apertura de la pagina html -->
<head><!-- Encabezado de la pagina html -->
    <meta charset="UTF-8"><!-- Codificacion de Caracteres especiales  -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <title>...APP ACADEMICA...</title>
</head>

<body><!-- Contenido de la pagina html -->
  
<div class="container" id="app">
  <div class="card border-primary" style="max-width: 57rem;">
    <div class="card-header bg-primary text-white">Registro de Alumno</div>
    <div class="card-body">
      <form id="frmAlumno" @submit.prevent="guardarAlumno">
      <div class="row p-1">
        <div class="col-3 col-md-2">CODIGO:</div>
        <div class="col-9 col-md-3">
          <input class="form-control" type="text" v-model="alumno.codigo" name="txtCodigoAlumno" id="txtCodigoAlumno">
        </div>
      </div>
      <div class="row p-1">
        <div class="col-3 col-md-2">NOMBRE:</div>
        <div class="col col-md-6">
          <input class="form-control" v-model="alumno.nombre" type="text" name="txtNombreAlumno" id="txtNombreAlumno">
        </div>
      </div>
      <div class="row p-1">
        <div class="col-3 col-md-2">DIRECCION:</div>
        <div class="col col-md-6">
          <input class="form-control" v-model="alumno.direccion" type="text" name="txtDireccionAlumno" id="txtDireccionAlumno">
        </div>
      </div>
      <div class="row p-1">
        <div class="col-3 col-md-2">MUNICIPIO:</div>
        <div class="col col-md-6">
          <input class="form-control" v-model="alumno.municipio" type="text" name="txtMunicipioAlumno" id="txtMunicipioAlumno">
        </div>
      </div>
      <div class="row p-1">
        <div class="col-3 col-md-2">DEPARTAMENTO:</div>
        <div class="col col-md-6">
          <input class="form-control" v-model="alumno.departamento" type="text" name="txtDepartamentoAlumno" id="txtDepartamentoAlumno">
        </div>
      </div>
      <div class="row p-1">
        <div class="col-3 col-md-2">TELEFONO:</div>
        <div class="col col-md-6">
          <input class="form-control" v-model="alumno.telefono" type="text" name="txtTelefonoAlumno" id="txtTelefonoAlumno">
        </div>
      </div>
      <div class="row p-1">
        <div class="col-3 col-md-2">FECHA DE NACIMIENTO:</div>
        <div class="col col-md-6">
          <input class="form-control" v-model="alumno.nacimiento" type="date" name="txtNacimientoAlumno" id="txtNacimientoAlumno">
        </div>
      </div>
      <div class="row p-1">
        <div class="col-3 col-md-2">SEXO:</div>
        <div class="col col-md-6">
          <input class="form-control" v-model="alumno.sexo" type="text" name="txtSexoAlumno" id="txtSexoAlumno">
        </div>
      </div>
      <div class="row p-1">
        <div class="col col md-6">
          <input class="btn btn-success" type="submit" value="Guardar Datos">
        </div>
        <div class="col col md-6">
          <input class="btn btn-warning" type="reset" value="Nuevo Registro">
        </div>
      </div>
    </form>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<script>
  const {createApp} = Vue;
  createApp({
    data(){
      return{
        alumno:{
          id:0,
          codigo:'',
          nombre:'',
          direccion:'',
          municipio:'',
          departamento:'',
          telefono:'',
          nacimiento:'',
          sexo:''
        }
      }
    },
    methods:{
      guardarAlumno(){
        localStorage.setItem('alumno',JSON.stringify(this.alumno));
      }
    }
  }).mount('#app')
</script>
  
</body>
</html>
